// Framework Colors
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #0275d8;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// Global Colors
//

$twitter:                   #1da1f2;
$facebook:                  #3b5998;
$youtube:                   #ff0000;
$instagram:                 #c32aa3;
$rss:                       #F4911E;
$linkedin:                  #007bb5;
$snapchat:                  #fffc00;
$google:                    #4285f4;

$msu-green:                 #18453B;

// Theme Colors
// Custom Brand Colors for Site.

// In case you need more than three theme colors
// quaternary, quinary, senary, septenary, octonary, nonary, denary

/* RGB */
$color1: rgba(35, 170, 96, 1.0);
$color2: rgba(0, 125, 125, 1.0); 
$color3: rgba(0, 68, 50, 1.0);  
$color4: rgba(242, 240, 218, 1.0);
$color5: rgba(255, 255, 255, 1.0);
$color6: rgba(240, 90, 38, 1.0);

$color7: #0F7068;


$theme-primary:             $color1;
$theme-primary-light:       lighten($theme-primary, 15%);
$theme-primary-dark:        darken($theme-primary, 15%);
$theme-primary-faded:       rgba(3, 144, 159, 0.3);

$theme-secondary:           $color2;
$theme-secondary-dark:      darken($theme-secondary, 10%);

$theme-tertiary:            $color3;
$theme-tertiary-dark:       darken($theme-tertiary, 5%);

$theme-accent:            	$color6;
$theme-accent-dark:       	darken($theme-accent, 15%);

$theme-link-color:          #2574a9;
$theme-link-color-dark:     darken($theme-link-color, 15%);

$theme-link-highlight:      $color2;

$faded-green:               rgba(128, 171, 162, 1);
$faded-green-30:            rgba(128, 171, 162, 0.3);

// Profile Colors
// Colors specifically for the profile header section on the
// individual people pages

$profile-bg:               	transparent;
$profile-heading-color:     $theme-accent;
$profile-text-color:        $gray;
$profile-email-bg:          $theme-primary-dark;
$profile-email-text-color:  white;
$profile-email-link-color:  white;

// Logo Colors
// Site logo is an SVG and fill colors are set here

.cls-1,.cls-2 {fill:#FFFFFF;}
.cls-2 {opacity:0.5;}

@media print {
    .cls-1 {fill:#000000;}
    .cls-2 {fill:#AAAAAA;}
}

.disabled > a {
    color: $theme-primary-dark !important;
    &:hover {color: $theme-primary !important;}
}
