@media (min-width: 1628px){
  .site-header, .site-content, .site-footer {
    width: 1628px !important;
    margin: 0 auto;
  }
}

.site-header, .homepage-intro {
  background-position-x: 60%;
  
  @include media-breakpoint-up(xl){
    background-size: cover;
    background-position-x: center;
  }
}

.site-header {
  background-color: #0f7068;
  background-image: url(/Content/Images/cei-bg2.jpg);
  background-repeat: no-repeat;
  background-position-y: $header-bg-shift;
  z-index: 1000;
  position: relative;
  padding-bottom: $header-padding-bottom;
}

.site-nav {
  position: relative;
  z-index: 1000;
  padding: 12px;
  display: block;
  @include media-breakpoint-up(lg){display: flex;}

  .nav-link{
    font-weight: bold;
  }

  li {
    @include media-breakpoint-down(md){border-bottom: 1px solid #444;}

    a {
    	color: white;
    	font-weight: bold;
    	font-size: 14px;
      padding: 4px 10px;
      margin-right: 2px;
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(xl){margin-right: 10px;}

      text-decoration: none !important;
      display: flex;
      align-items: center;

      &:hover, &:focus {
        background-color: $theme-primary-dark !important;
        @include media-breakpoint-down(md){ background-color: transparent !important; }
        color: white;
        position: relative;
        z-index: 1;

        &::before { color: inherit; }
        &::after { color: inherit; }
      }

      &.active {
        background-color: $theme-primary;
        color: white;
        //border-radius: 50px;

        &:hover, &:focus {
          background-color: $theme-primary-dark;
          color:white;
        }
      }
    }

    &:last-child {
      a {margin-right: 0;}
    }
  }

  li.show {
    a {
      &:hover, &:focus {

      }
    }
  }

  .dropdown-menu {
    background-color: $theme-primary-dark !important;
    border: none !important;
    padding: 15px 10px;
    top: 0px !important;
    width: calc(100% - 26px) !important;
    position: relative;

    span {
      display: block;

      a[href="#"]{
        opacity: .5;
      }
    }

    @include media-breakpoint-up(md){
      top: 6px !important;
      width: auto !important;
      border-top: none !important;
    }
  }

  .dropdown-item {
    &:hover, &:focus {
      background-color: $theme-primary !important;
    }
  }
}

.dm-target{
  @include media-breakpoint-down(md){
    margin-left: 15px;
  }
}

.media.page {
  display: block;
}

.media-list {
  .media-item {
    position: relative;
    margin-bottom: 30px;
  }

  img {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 18px;
    border: 0;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

main {
  padding-bottom: 60px !important;
}

.current-bulletin {
  
  .bulletin-content {
    padding: 30px;
    background-color: $color4;
  
    .list-group-item {
      background-color: $color4;
    }
  }
}