// #INTRO

.homepage-intro {
    background-color: #0f7068;
    background-image: url("/Content/Images/cei-bg2.jpg");
    background-repeat: no-repeat;
    background-position-y: calc(#{$header-bg-shift} - #{$header-height} - #{$header-padding-bottom});
    z-index: 1000;
    position: relative;
    padding-bottom: 30px;
    min-height: 430px;
    display: flex;
    align-items: center;
    color: white;
    

    p {
        font-size: 20px;
    }

}

.intro-text {
background-color: rgba($color: #000000, $alpha: 0.5);
padding: 10px;
display: inline-block;
line-height: 44px;
font-size: 42px;
font-weight: 700;
text-transform: uppercase;
margin-left: -10px;;

.text-1 {
    color: #00aeef;
}

.text-2 {
    color: #37b24a;
}
}


// #FEATURE+NEWS

.feature-and-news {
    @extend .pt-5;

    .feature{
        background-color: $theme-secondary;
        border: 10px solid white;
        color: white;
        // min-height: 500px;
        display: flex;
        align-items: center;
        padding: 30px 15px;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .news {
        background-color: $gray-lighter;
        border: 10px solid white;
        padding-top: 30px;
        padding-bottom: 30px;

        h2{
            font-size: 24px;
            border-bottom: #0F7068 solid 5px;
        }

        article{
            margin-top: 15px;
            font-size: 16px;
            position: relative;
            border-bottom: 1px solid $gray-light;
            
            h3 {
                margin-bottom: 15px;
                line-height: 18px;

                a {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: bold;
                    display: block;
                    border-bottom: 2px solid transparent;
                    margin-bottom: 5px;

                    &:hover, &:focus, &:active {
                        border-bottom: 2px solid #00caca;
                    }
                }
            }
        }
    }
}


// #CONNECT+SOCIAL

.cei-social {
    //background-color: #F2F0DA;
    border-top: 3px solid $gray-lighter;
    border-bottom: 3px solid $gray-lighter;
    padding: 50px;
    margin: 50px 0;
    text-align: center;

    @include media-breakpoint-up(lg) {
        padding: 30px 15px;
    } 

    @include media-breakpoint-up(sm) {
        display: flex;
        align-items: center;
    }

    @include media-breakpoint-down(sm) {
            .flex-item {
            width: 50%;
        }

        .connect-intro {
            padding: 0 30px;
            position: relative;
            right: 20px;
        }
    }

    h2 {
        font-weight: 800;
        font-size: 130%;
        
        @include media-breakpoint-up(md) {
            font-size: 160%;
        }
    }

    p {
        font-size: 90%;

        @include media-breakpoint-down(xs) {
        line-height: 1.5;
        margin-bottom: 30px;
        }
    }

    a {
        margin: 5px !important;
        display: block;
        min-width: 103px;
    }
}

.contact-social {
    text-align: left;
    padding-left: 0;
    
    .container {
        padding: 0;
    }
}

.social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;

    @include media-breakpoint-up(md){
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(lg){
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
  }


// #PROGRAMS

  .programs {
    text-align: left;
    vertical-align: bottom;

    h2 {
        font-size: 24px;
        margin: 15px;
        margin-bottom: 20px;
        border-bottom: 5px solid $theme-secondary;
        display: inline-block;
    }

    ul {
        list-style-type: none;
        padding: 0;
        
        @include media-breakpoint-up(lg){
            display: flex;
            align-content: stretch; 
        }

        h3 {
            font-weight: 800;
            border-bottom: $theme-secondary solid 5px;
            @media print {border-bottom: $gray-light solid 5px;}
            margin-top: 30px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 50px;
            line-height: 26px;
            display: block;
            min-height: 93px;
            color: white;
        }

        p {
            padding-left: 10px;
            margin-top: 30px;
        }

        a.btn {
            margin-left: 10px;
        }

        li {
            border: 10px solid white;
            display: flex;
            
            @include media-breakpoint-up(md){
	            align-items: flex-start;
            }
        }

        .item {
            padding: 15px;
            padding-bottom: 30px;
        }

        .rei {
            background-image:url("/Content/Images/rei.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: -15px;
            margin-bottom: -140px;
            min-height: 165px;
        }
        
        .cf {
            background-image:url("/Content/Images/cf.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: -15px;
            margin-bottom: -140px;
            min-height: 165px;
        }

        .cp {
            background-image:url("/Content/Images/ucm.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: -15px;
            margin-bottom: -140px;
            min-height: 165px;
        }

    }
}  

// #CCED SITES

.ced-sites{
    border-top: 3px solid $theme-primary;
    margin-top: 30px;
    margin-bottom: -60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $faded-green-30;

    color: $theme-secondary;
    
    .site {
        display:block;
        width: 148px;
        height: 48.5px;
        background-repeat:no-repeat;
        background-size: contain;
        position: relative;
        border-bottom: 2px solid transparent;
        margin-bottom: 5px;
        opacity: 0.5;

        &:hover, &:focus, &:active {
            opacity: 1.0;
        }
    }

    span {
        display: block;
        width: 40px;
    }

    .cced-logo-color { background-image: url("/Content/Images/cced-site-logo-color.svg"); }
    .domicology-logo-color { background-image: url("/Content/Images/domicology-site-logo-color.svg"); }
    .rei-logo-color { background-image: url("/Content/Images/rei-site-logo-color.svg"); }
}