// margin-left //
.ml-0   { margin-left: 0px;}
.ml-10  { margin-left: 10px;}
.ml-20  { margin-left: 20px;}
.ml-30  { margin-left: 30px;}
.ml-40  { margin-left: 40px;}
.ml-50  { margin-left: 50px;}
.ml-60  { margin-left: 60px;}
.ml-70  { margin-left: 70px;}
.ml-80  { margin-left: 80px;}
.ml-90  { margin-left: 90px;}
.ml-100 { margin-left: 100px;}

@include media-breakpoint-up(sm){
.ml-sm-0   { margin-left: 0px;}
.ml-sm-10  { margin-left: 10px;}
.ml-sm-20  { margin-left: 20px;}
.ml-sm-30  { margin-left: 30px;}
.ml-sm-40  { margin-left: 40px;}
.ml-sm-50  { margin-left: 50px;}
.ml-sm-60  { margin-left: 60px;}
.ml-sm-70  { margin-left: 70px;}
.ml-sm-80  { margin-left: 80px;}
.ml-sm-90  { margin-left: 90px;}
.ml-sm-100 { margin-left: 100px;}
}

@include media-breakpoint-up(md){
.ml-md-0   { margin-left: 0px;}
.ml-md-10  { margin-left: 10px;}
.ml-md-20  { margin-left: 20px;}
.ml-md-30  { margin-left: 30px;}
.ml-md-40  { margin-left: 40px;}
.ml-md-50  { margin-left: 50px;}
.ml-md-60  { margin-left: 60px;}
.ml-md-70  { margin-left: 70px;}
.ml-md-80  { margin-left: 80px;}
.ml-md-90  { margin-left: 90px;}
.ml-md-100 { margin-left: 100px;}
}

@include media-breakpoint-up(lg){
.ml-lg-0   { margin-left: 0px;}
.ml-lg-10  { margin-left: 10px;}
.ml-lg-20  { margin-left: 20px;}
.ml-lg-30  { margin-left: 30px;}
.ml-lg-40  { margin-left: 40px;}
.ml-lg-50  { margin-left: 50px;}
.ml-lg-60  { margin-left: 60px;}
.ml-lg-70  { margin-left: 70px;}
.ml-lg-80  { margin-left: 80px;}
.ml-lg-90  { margin-left: 90px;}
.ml-lg-100 { margin-left: 100px;}
}

// margin-right //
.mr-0   { margin-right: 0px;}
.mr-10  { margin-right: 10px;}
.mr-20  { margin-right: 20px;}
.mr-30  { margin-right: 30px;}
.mr-40  { margin-right: 40px;}
.mr-50  { margin-right: 50px;}
.mr-60  { margin-right: 60px;}
.mr-70  { margin-right: 70px;}
.mr-80  { margin-right: 80px;}
.mr-90  { margin-right: 90px;}
.mr-100 { margin-right: 100px;}

@include media-breakpoint-up(sm){
.mr-sm-0   { margin-right: 0px;}
.mr-sm-10  { margin-right: 10px;}
.mr-sm-20  { margin-right: 20px;}
.mr-sm-30  { margin-right: 30px;}
.mr-sm-40  { margin-right: 40px;}
.mr-sm-50  { margin-right: 50px;}
.mr-sm-60  { margin-right: 60px;}
.mr-sm-70  { margin-right: 70px;}
.mr-sm-80  { margin-right: 80px;}
.mr-sm-90  { margin-right: 90px;}
.mr-sm-100 { margin-right: 100px;}
}

@include media-breakpoint-up(md){
.mr-md-0   { margin-right: 0px;}
.mr-md-10  { margin-right: 10px;}
.mr-md-20  { margin-right: 20px;}
.mr-md-30  { margin-right: 30px;}
.mr-md-40  { margin-right: 40px;}
.mr-md-50  { margin-right: 50px;}
.mr-md-60  { margin-right: 60px;}
.mr-md-70  { margin-right: 70px;}
.mr-md-80  { margin-right: 80px;}
.mr-md-90  { margin-right: 90px;}
.mr-md-100 { margin-right: 100px;}
}

@include media-breakpoint-up(lg){
.mr-lg-0   { margin-right: 0px;}
.mr-lg-10  { margin-right: 10px;}
.mr-lg-20  { margin-right: 20px;}
.mr-lg-30  { margin-right: 30px;}
.mr-lg-40  { margin-right: 40px;}
.mr-lg-50  { margin-right: 50px;}
.mr-lg-60  { margin-right: 60px;}
.mr-lg-70  { margin-right: 70px;}
.mr-lg-80  { margin-right: 80px;}
.mr-lg-90  { margin-right: 90px;}
.mr-lg-100 { margin-right: 100px;}
}


// margin-top //
.mt-0   { margin-top: 0px;}
.mt-10  { margin-top: 10px;}
.mt-20  { margin-top: 20px;}
.mt-30  { margin-top: 30px;}
.mt-40  { margin-top: 40px;}
.mt-50  { margin-top: 50px;}
.mt-60  { margin-top: 60px;}
.mt-70  { margin-top: 70px;}
.mt-80  { margin-top: 80px;}
.mt-90  { margin-top: 90px;}
.mt-100 { margin-top: 100px;}

@include media-breakpoint-up(sm){
.mt-sm-0   { margin-top: 0px;}
.mt-sm-10  { margin-top: 10px;}
.mt-sm-20  { margin-top: 20px;}
.mt-sm-30  { margin-top: 30px;}
.mt-sm-40  { margin-top: 40px;}
.mt-sm-50  { margin-top: 50px;}
.mt-sm-60  { margin-top: 60px;}
.mt-sm-70  { margin-top: 70px;}
.mt-sm-80  { margin-top: 80px;}
.mt-sm-90  { margin-top: 90px;}
.mt-sm-100 { margin-top: 100px;}
}

@include media-breakpoint-up(md){
.mt-md-0   { margin-top: 0px;}
.mt-md-10  { margin-top: 10px;}
.mt-md-20  { margin-top: 20px;}
.mt-md-30  { margin-top: 30px;}
.mt-md-40  { margin-top: 40px;}
.mt-md-50  { margin-top: 50px;}
.mt-md-60  { margin-top: 60px;}
.mt-md-70  { margin-top: 70px;}
.mt-md-80  { margin-top: 80px;}
.mt-md-90  { margin-top: 90px;}
.mt-md-100 { margin-top: 100px;}
}

@include media-breakpoint-up(lg){
.mt-lg-0   { margin-top: 0px;}
.mt-lg-10  { margin-top: 10px;}
.mt-lg-20  { margin-top: 20px;}
.mt-lg-30  { margin-top: 30px;}
.mt-lg-40  { margin-top: 40px;}
.mt-lg-50  { margin-top: 50px;}
.mt-lg-60  { margin-top: 60px;}
.mt-lg-70  { margin-top: 70px;}
.mt-lg-80  { margin-top: 80px;}
.mt-lg-90  { margin-top: 90px;}
.mt-lg-100 { margin-top: 100px;}
}


// margin-bottom //
.mb-0   { margin-bottom: 0px;}
.mb-10  { margin-bottom: 10px;}
.mb-20  { margin-bottom: 20px;}
.mb-30  { margin-bottom: 30px;}
.mb-40  { margin-bottom: 40px;}
.mb-50  { margin-bottom: 50px;}
.mb-60  { margin-bottom: 60px;}
.mb-70  { margin-bottom: 70px;}
.mb-80  { margin-bottom: 80px;}
.mb-90  { margin-bottom: 90px;}
.mb-100 { margin-bottom: 100px;}

@include media-breakpoint-up(sm){
.mb-sm-0   { margin-bottom: 0px;}
.mb-sm-10  { margin-bottom: 10px;}
.mb-sm-20  { margin-bottom: 20px;}
.mb-sm-30  { margin-bottom: 30px;}
.mb-sm-40  { margin-bottom: 40px;}
.mb-sm-50  { margin-bottom: 50px;}
.mb-sm-60  { margin-bottom: 60px;}
.mb-sm-70  { margin-bottom: 70px;}
.mb-sm-80  { margin-bottom: 80px;}
.mb-sm-90  { margin-bottom: 90px;}
.mb-sm-100 { margin-bottom: 100px;}
}

@include media-breakpoint-up(md){
.mb-md-0   { margin-bottom: 0px;}
.mb-md-10  { margin-bottom: 10px;}
.mb-md-20  { margin-bottom: 20px;}
.mb-md-30  { margin-bottom: 30px;}
.mb-md-40  { margin-bottom: 40px;}
.mb-md-50  { margin-bottom: 50px;}
.mb-md-60  { margin-bottom: 60px;}
.mb-md-70  { margin-bottom: 70px;}
.mb-md-80  { margin-bottom: 80px;}
.mb-md-90  { margin-bottom: 90px;}
.mb-md-100 { margin-bottom: 100px;}
}

@include media-breakpoint-up(lg){
.mb-lg-0   { margin-bottom: 0px;}
.mb-lg-10  { margin-bottom: 10px;}
.mb-lg-20  { margin-bottom: 20px;}
.mb-lg-30  { margin-bottom: 30px;}
.mb-lg-40  { margin-bottom: 40px;}
.mb-lg-50  { margin-bottom: 50px;}
.mb-lg-60  { margin-bottom: 60px;}
.mb-lg-70  { margin-bottom: 70px;}
.mb-lg-80  { margin-bottom: 80px;}
.mb-lg-90  { margin-bottom: 90px;}
.mb-lg-100 { margin-bottom: 100px;}
}

// margin-left-and-right //
.mx-0   { margin-left: 0px;   margin-right: 0px;}
.mx-10  { margin-left: 10px;  margin-right: 10px;}
.mx-20  { margin-left: 20px;  margin-right: 20px;}
.mx-30  { margin-left: 30px;  margin-right: 30px;}
.mx-40  { margin-left: 40px;  margin-right: 40px;}
.mx-50  { margin-left: 50px;  margin-right: 50px;}
.mx-60  { margin-left: 60px;  margin-right: 60px;}
.mx-70  { margin-left: 70px;  margin-right: 70px;}
.mx-80  { margin-left: 80px;  margin-right: 80px;}
.mx-90  { margin-left: 90px;  margin-right: 90px;}
.mx-100 { margin-left: 100px; margin-right: 100px;}

@include media-breakpoint-up(sm){
.mx-sm-0   { margin-left: 0px;   margin-right: 0px;}
.mx-sm-10  { margin-left: 10px;  margin-right: 10px;}
.mx-sm-20  { margin-left: 20px;  margin-right: 20px;}
.mx-sm-30  { margin-left: 30px;  margin-right: 30px;}
.mx-sm-40  { margin-left: 40px;  margin-right: 40px;}
.mx-sm-50  { margin-left: 50px;  margin-right: 50px;}
.mx-sm-60  { margin-left: 60px;  margin-right: 60px;}
.mx-sm-70  { margin-left: 70px;  margin-right: 70px;}
.mx-sm-80  { margin-left: 80px;  margin-right: 80px;}
.mx-sm-90  { margin-left: 90px;  margin-right: 90px;}
.mx-sm-100 { margin-left: 100px; margin-right: 100px;}
}

@include media-breakpoint-up(md){
.mx-md-0   { margin-left: 0px;   margin-right: 0px;}
.mx-md-10  { margin-left: 10px;  margin-right: 10px;}
.mx-md-20  { margin-left: 20px;  margin-right: 20px;}
.mx-md-30  { margin-left: 30px;  margin-right: 30px;}
.mx-md-40  { margin-left: 40px;  margin-right: 40px;}
.mx-md-50  { margin-left: 50px;  margin-right: 50px;}
.mx-md-60  { margin-left: 60px;  margin-right: 60px;}
.mx-md-70  { margin-left: 70px;  margin-right: 70px;}
.mx-md-80  { margin-left: 80px;  margin-right: 80px;}
.mx-md-90  { margin-left: 90px;  margin-right: 90px;}
.mx-md-100 { margin-left: 100px; margin-right: 100px;}
}

@include media-breakpoint-up(lg){
.mx-lg-0   { margin-left: 0px;   margin-right: 0px;}
.mx-lg-10  { margin-left: 10px;  margin-right: 10px;}
.mx-lg-20  { margin-left: 20px;  margin-right: 20px;}
.mx-lg-30  { margin-left: 30px;  margin-right: 30px;}
.mx-lg-40  { margin-left: 40px;  margin-right: 40px;}
.mx-lg-50  { margin-left: 50px;  margin-right: 50px;}
.mx-lg-60  { margin-left: 60px;  margin-right: 60px;}
.mx-lg-70  { margin-left: 70px;  margin-right: 70px;}
.mx-lg-80  { margin-left: 80px;  margin-right: 80px;}
.mx-lg-90  { margin-left: 90px;  margin-right: 90px;}
.mx-lg-100 { margin-left: 100px; margin-right: 100px;}
}

// margin-top-and-bottom //
.my-0   { margin-top: 0px;   margin-bottom: 0px;}
.my-10  { margin-top: 10px;  margin-bottom: 10px;}
.my-20  { margin-top: 20px;  margin-bottom: 20px;}
.my-30  { margin-top: 30px;  margin-bottom: 30px;}
.my-40  { margin-top: 40px;  margin-bottom: 40px;}
.my-50  { margin-top: 50px;  margin-bottom: 50px;}
.my-60  { margin-top: 60px;  margin-bottom: 60px;}
.my-70  { margin-top: 70px;  margin-bottom: 70px;}
.my-80  { margin-top: 80px;  margin-bottom: 80px;}
.my-90  { margin-top: 90px;  margin-bottom: 90px;}
.my-100 { margin-top: 100px; margin-bottom: 100px;}

@include media-breakpoint-up(sm){
.my-sm-0   { margin-top: 0px;   margin-bottom: 0px;}
.my-sm-10  { margin-top: 10px;  margin-bottom: 10px;}
.my-sm-20  { margin-top: 20px;  margin-bottom: 20px;}
.my-sm-30  { margin-top: 30px;  margin-bottom: 30px;}
.my-sm-40  { margin-top: 40px;  margin-bottom: 40px;}
.my-sm-50  { margin-top: 50px;  margin-bottom: 50px;}
.my-sm-60  { margin-top: 60px;  margin-bottom: 60px;}
.my-sm-70  { margin-top: 70px;  margin-bottom: 70px;}
.my-sm-80  { margin-top: 80px;  margin-bottom: 80px;}
.my-sm-90  { margin-top: 90px;  margin-bottom: 90px;}
.my-sm-100 { margin-top: 100px; margin-bottom: 100px;}
}

@include media-breakpoint-up(md){
.my-md-0   { margin-top: 0px;   margin-bottom: 0px;}
.my-md-10  { margin-top: 10px;  margin-bottom: 10px;}
.my-md-20  { margin-top: 20px;  margin-bottom: 20px;}
.my-md-30  { margin-top: 30px;  margin-bottom: 30px;}
.my-md-40  { margin-top: 40px;  margin-bottom: 40px;}
.my-md-50  { margin-top: 50px;  margin-bottom: 50px;}
.my-md-60  { margin-top: 60px;  margin-bottom: 60px;}
.my-md-70  { margin-top: 70px;  margin-bottom: 70px;}
.my-md-80  { margin-top: 80px;  margin-bottom: 80px;}
.my-md-90  { margin-top: 90px;  margin-bottom: 90px;}
.my-md-100 { margin-top: 100px; margin-bottom: 100px;}
}

@include media-breakpoint-up(lg){
.my-lg-0   { margin-top: 0px;   margin-bottom: 0px;}
.my-lg-10  { margin-top: 10px;  margin-bottom: 10px;}
.my-lg-20  { margin-top: 20px;  margin-bottom: 20px;}
.my-lg-30  { margin-top: 30px;  margin-bottom: 30px;}
.my-lg-40  { margin-top: 40px;  margin-bottom: 40px;}
.my-lg-50  { margin-top: 50px;  margin-bottom: 50px;}
.my-lg-60  { margin-top: 60px;  margin-bottom: 60px;}
.my-lg-70  { margin-top: 70px;  margin-bottom: 70px;}
.my-lg-80  { margin-top: 80px;  margin-bottom: 80px;}
.my-lg-90  { margin-top: 90px;  margin-bottom: 90px;}
.my-lg-100 { margin-top: 100px; margin-bottom: 100px;}
}



// padding-left //
.pl-0   { padding-left: 0px;}
.pl-10  { padding-left: 10px;}
.pl-20  { padding-left: 20px;}
.pl-30  { padding-left: 30px;}
.pl-40  { padding-left: 40px;}
.pl-50  { padding-left: 50px;}
.pl-60  { padding-left: 60px;}
.pl-70  { padding-left: 70px;}
.pl-80  { padding-left: 80px;}
.pl-90  { padding-left: 90px;}
.pl-100 { padding-left: 100px;}

@include media-breakpoint-up(sm){
.pl-sm-0   { padding-left: 0px;}
.pl-sm-10  { padding-left: 10px;}
.pl-sm-20  { padding-left: 20px;}
.pl-sm-30  { padding-left: 30px;}
.pl-sm-40  { padding-left: 40px;}
.pl-sm-50  { padding-left: 50px;}
.pl-sm-60  { padding-left: 60px;}
.pl-sm-70  { padding-left: 70px;}
.pl-sm-80  { padding-left: 80px;}
.pl-sm-90  { padding-left: 90px;}
.pl-sm-100 { padding-left: 100px;}
}

@include media-breakpoint-up(md){
.pl-md-0   { padding-left: 0px;}
.pl-md-10  { padding-left: 10px;}
.pl-md-20  { padding-left: 20px;}
.pl-md-30  { padding-left: 30px;}
.pl-md-40  { padding-left: 40px;}
.pl-md-50  { padding-left: 50px;}
.pl-md-60  { padding-left: 60px;}
.pl-md-70  { padding-left: 70px;}
.pl-md-80  { padding-left: 80px;}
.pl-md-90  { padding-left: 90px;}
.pl-md-100 { padding-left: 100px;}
}

@include media-breakpoint-up(lg){
.pl-lg-0   { padding-left: 0px;}
.pl-lg-10  { padding-left: 10px;}
.pl-lg-20  { padding-left: 20px;}
.pl-lg-30  { padding-left: 30px;}
.pl-lg-40  { padding-left: 40px;}
.pl-lg-50  { padding-left: 50px;}
.pl-lg-60  { padding-left: 60px;}
.pl-lg-70  { padding-left: 70px;}
.pl-lg-80  { padding-left: 80px;}
.pl-lg-90  { padding-left: 90px;}
.pl-lg-100 { padding-left: 100px;}
}

// padding-right //
.pr-0   { padding-right: 0px;}
.pr-10  { padding-right: 10px;}
.pr-20  { padding-right: 20px;}
.pr-30  { padding-right: 30px;}
.pr-40  { padding-right: 40px;}
.pr-50  { padding-right: 50px;}
.pr-60  { padding-right: 60px;}
.pr-70  { padding-right: 70px;}
.pr-80  { padding-right: 80px;}
.pr-90  { padding-right: 90px;}
.pr-100 { padding-right: 100px;}

@include media-breakpoint-up(sm){
.pr-sm-0   { padding-right: 0px;}
.pr-sm-10  { padding-right: 10px;}
.pr-sm-20  { padding-right: 20px;}
.pr-sm-30  { padding-right: 30px;}
.pr-sm-40  { padding-right: 40px;}
.pr-sm-50  { padding-right: 50px;}
.pr-sm-60  { padding-right: 60px;}
.pr-sm-70  { padding-right: 70px;}
.pr-sm-80  { padding-right: 80px;}
.pr-sm-90  { padding-right: 90px;}
.pr-sm-100 { padding-right: 100px;}
}

@include media-breakpoint-up(md){
.pr-md-0   { padding-right: 0px;}
.pr-md-10  { padding-right: 10px;}
.pr-md-20  { padding-right: 20px;}
.pr-md-30  { padding-right: 30px;}
.pr-md-40  { padding-right: 40px;}
.pr-md-50  { padding-right: 50px;}
.pr-md-60  { padding-right: 60px;}
.pr-md-70  { padding-right: 70px;}
.pr-md-80  { padding-right: 80px;}
.pr-md-90  { padding-right: 90px;}
.pr-md-100 { padding-right: 100px;}
}

@include media-breakpoint-up(lg){
.pr-lg-0   { padding-right: 0px;}
.pr-lg-10  { padding-right: 10px;}
.pr-lg-20  { padding-right: 20px;}
.pr-lg-30  { padding-right: 30px;}
.pr-lg-40  { padding-right: 40px;}
.pr-lg-50  { padding-right: 50px;}
.pr-lg-60  { padding-right: 60px;}
.pr-lg-70  { padding-right: 70px;}
.pr-lg-80  { padding-right: 80px;}
.pr-lg-90  { padding-right: 90px;}
.pr-lg-100 { padding-right: 100px;}
}


// padding-top //
.pt-0   { padding-top: 0px;}
.pt-10  { padding-top: 10px;}
.pt-20  { padding-top: 20px;}
.pt-30  { padding-top: 30px;}
.pt-40  { padding-top: 40px;}
.pt-50  { padding-top: 50px;}
.pt-60  { padding-top: 60px;}
.pt-70  { padding-top: 70px;}
.pt-80  { padding-top: 80px;}
.pt-90  { padding-top: 90px;}
.pt-100 { padding-top: 100px;}

@include media-breakpoint-up(sm){
.pt-sm-0   { padding-top: 0px;}
.pt-sm-10  { padding-top: 10px;}
.pt-sm-20  { padding-top: 20px;}
.pt-sm-30  { padding-top: 30px;}
.pt-sm-40  { padding-top: 40px;}
.pt-sm-50  { padding-top: 50px;}
.pt-sm-60  { padding-top: 60px;}
.pt-sm-70  { padding-top: 70px;}
.pt-sm-80  { padding-top: 80px;}
.pt-sm-90  { padding-top: 90px;}
.pt-sm-100 { padding-top: 100px;}
}

@include media-breakpoint-up(md){
.pt-md-0   { padding-top: 0px;}
.pt-md-10  { padding-top: 10px;}
.pt-md-20  { padding-top: 20px;}
.pt-md-30  { padding-top: 30px;}
.pt-md-40  { padding-top: 40px;}
.pt-md-50  { padding-top: 50px;}
.pt-md-60  { padding-top: 60px;}
.pt-md-70  { padding-top: 70px;}
.pt-md-80  { padding-top: 80px;}
.pt-md-90  { padding-top: 90px;}
.pt-md-100 { padding-top: 100px;}
}

@include media-breakpoint-up(lg){
.pt-lg-0   { padding-top: 0px;}
.pt-lg-10  { padding-top: 10px;}
.pt-lg-20  { padding-top: 20px;}
.pt-lg-30  { padding-top: 30px;}
.pt-lg-40  { padding-top: 40px;}
.pt-lg-50  { padding-top: 50px;}
.pt-lg-60  { padding-top: 60px;}
.pt-lg-70  { padding-top: 70px;}
.pt-lg-80  { padding-top: 80px;}
.pt-lg-90  { padding-top: 90px;}
.pt-lg-100 { padding-top: 100px;}
}


// padding-bottom //
.pb-0   { padding-bottom: 0px;}
.pb-10  { padding-bottom: 10px;}
.pb-20  { padding-bottom: 20px;}
.pb-30  { padding-bottom: 30px;}
.pb-40  { padding-bottom: 40px;}
.pb-50  { padding-bottom: 50px;}
.pb-60  { padding-bottom: 60px;}
.pb-70  { padding-bottom: 70px;}
.pb-80  { padding-bottom: 80px;}
.pb-90  { padding-bottom: 90px;}
.pb-100 { padding-bottom: 100px;}

@include media-breakpoint-up(sm){
.pb-sm-0   { padding-bottom: 0px;}
.pb-sm-10  { padding-bottom: 10px;}
.pb-sm-20  { padding-bottom: 20px;}
.pb-sm-30  { padding-bottom: 30px;}
.pb-sm-40  { padding-bottom: 40px;}
.pb-sm-50  { padding-bottom: 50px;}
.pb-sm-60  { padding-bottom: 60px;}
.pb-sm-70  { padding-bottom: 70px;}
.pb-sm-80  { padding-bottom: 80px;}
.pb-sm-90  { padding-bottom: 90px;}
.pb-sm-100 { padding-bottom: 100px;}
}

@include media-breakpoint-up(md){
.pb-md-0   { padding-bottom: 0px;}
.pb-md-10  { padding-bottom: 10px;}
.pb-md-20  { padding-bottom: 20px;}
.pb-md-30  { padding-bottom: 30px;}
.pb-md-40  { padding-bottom: 40px;}
.pb-md-50  { padding-bottom: 50px;}
.pb-md-60  { padding-bottom: 60px;}
.pb-md-70  { padding-bottom: 70px;}
.pb-md-80  { padding-bottom: 80px;}
.pb-md-90  { padding-bottom: 90px;}
.pb-md-100 { padding-bottom: 100px;}
}

@include media-breakpoint-up(lg){
.pb-lg-0   { padding-bottom: 0px;}
.pb-lg-10  { padding-bottom: 10px;}
.pb-lg-20  { padding-bottom: 20px;}
.pb-lg-30  { padding-bottom: 30px;}
.pb-lg-40  { padding-bottom: 40px;}
.pb-lg-50  { padding-bottom: 50px;}
.pb-lg-60  { padding-bottom: 60px;}
.pb-lg-70  { padding-bottom: 70px;}
.pb-lg-80  { padding-bottom: 80px;}
.pb-lg-90  { padding-bottom: 90px;}
.pb-lg-100 { padding-bottom: 100px;}
}

// padding-left-and-right //
.px-0   { padding-left: 0px;   padding-right: 0px;}
.px-10  { padding-left: 10px;  padding-right: 10px;}
.px-20  { padding-left: 20px;  padding-right: 20px;}
.px-30  { padding-left: 30px;  padding-right: 30px;}
.px-40  { padding-left: 40px;  padding-right: 40px;}
.px-50  { padding-left: 50px;  padding-right: 50px;}
.px-60  { padding-left: 60px;  padding-right: 60px;}
.px-70  { padding-left: 70px;  padding-right: 70px;}
.px-80  { padding-left: 80px;  padding-right: 80px;}
.px-90  { padding-left: 90px;  padding-right: 90px;}
.px-100 { padding-left: 100px; padding-right: 100px;}

@include media-breakpoint-up(sm){
.px-sm-0   { padding-left: 0px;   padding-right: 0px;}
.px-sm-10  { padding-left: 10px;  padding-right: 10px;}
.px-sm-20  { padding-left: 20px;  padding-right: 20px;}
.px-sm-30  { padding-left: 30px;  padding-right: 30px;}
.px-sm-40  { padding-left: 40px;  padding-right: 40px;}
.px-sm-50  { padding-left: 50px;  padding-right: 50px;}
.px-sm-60  { padding-left: 60px;  padding-right: 60px;}
.px-sm-70  { padding-left: 70px;  padding-right: 70px;}
.px-sm-80  { padding-left: 80px;  padding-right: 80px;}
.px-sm-90  { padding-left: 90px;  padding-right: 90px;}
.px-sm-100 { padding-left: 100px; padding-right: 100px;}
}

@include media-breakpoint-up(md){
.px-md-0   { padding-left: 0px;   padding-right: 0px;}
.px-md-10  { padding-left: 10px;  padding-right: 10px;}
.px-md-20  { padding-left: 20px;  padding-right: 20px;}
.px-md-30  { padding-left: 30px;  padding-right: 30px;}
.px-md-40  { padding-left: 40px;  padding-right: 40px;}
.px-md-50  { padding-left: 50px;  padding-right: 50px;}
.px-md-60  { padding-left: 60px;  padding-right: 60px;}
.px-md-70  { padding-left: 70px;  padding-right: 70px;}
.px-md-80  { padding-left: 80px;  padding-right: 80px;}
.px-md-90  { padding-left: 90px;  padding-right: 90px;}
.px-md-100 { padding-left: 100px; padding-right: 100px;}
}

@include media-breakpoint-up(lg){
.px-lg-0   { padding-left: 0px;   padding-right: 0px;}
.px-lg-10  { padding-left: 10px;  padding-right: 10px;}
.px-lg-20  { padding-left: 20px;  padding-right: 20px;}
.px-lg-30  { padding-left: 30px;  padding-right: 30px;}
.px-lg-40  { padding-left: 40px;  padding-right: 40px;}
.px-lg-50  { padding-left: 50px;  padding-right: 50px;}
.px-lg-60  { padding-left: 60px;  padding-right: 60px;}
.px-lg-70  { padding-left: 70px;  padding-right: 70px;}
.px-lg-80  { padding-left: 80px;  padding-right: 80px;}
.px-lg-90  { padding-left: 90px;  padding-right: 90px;}
.px-lg-100 { padding-left: 100px; padding-right: 100px;}
}

// padding-top-and-bottom //
.py-0   { padding-top: 0px;   padding-bottom: 0px;}
.py-10  { padding-top: 10px;  padding-bottom: 10px;}
.py-20  { padding-top: 20px;  padding-bottom: 20px;}
.py-30  { padding-top: 30px;  padding-bottom: 30px;}
.py-40  { padding-top: 40px;  padding-bottom: 40px;}
.py-50  { padding-top: 50px;  padding-bottom: 50px;}
.py-60  { padding-top: 60px;  padding-bottom: 60px;}
.py-70  { padding-top: 70px;  padding-bottom: 70px;}
.py-80  { padding-top: 80px;  padding-bottom: 80px;}
.py-90  { padding-top: 90px;  padding-bottom: 90px;}
.py-100 { padding-top: 100px; padding-bottom: 100px;}

@include media-breakpoint-up(sm){
.py-sm-0   { padding-top: 0px;   padding-bottom: 0px;}
.py-sm-10  { padding-top: 10px;  padding-bottom: 10px;}
.py-sm-20  { padding-top: 20px;  padding-bottom: 20px;}
.py-sm-30  { padding-top: 30px;  padding-bottom: 30px;}
.py-sm-40  { padding-top: 40px;  padding-bottom: 40px;}
.py-sm-50  { padding-top: 50px;  padding-bottom: 50px;}
.py-sm-60  { padding-top: 60px;  padding-bottom: 60px;}
.py-sm-70  { padding-top: 70px;  padding-bottom: 70px;}
.py-sm-80  { padding-top: 80px;  padding-bottom: 80px;}
.py-sm-90  { padding-top: 90px;  padding-bottom: 90px;}
.py-sm-100 { padding-top: 100px; padding-bottom: 100px;}
}

@include media-breakpoint-up(md){
.py-md-0   { padding-top: 0px;   padding-bottom: 0px;}
.py-md-10  { padding-top: 10px;  padding-bottom: 10px;}
.py-md-20  { padding-top: 20px;  padding-bottom: 20px;}
.py-md-30  { padding-top: 30px;  padding-bottom: 30px;}
.py-md-40  { padding-top: 40px;  padding-bottom: 40px;}
.py-md-50  { padding-top: 50px;  padding-bottom: 50px;}
.py-md-60  { padding-top: 60px;  padding-bottom: 60px;}
.py-md-70  { padding-top: 70px;  padding-bottom: 70px;}
.py-md-80  { padding-top: 80px;  padding-bottom: 80px;}
.py-md-90  { padding-top: 90px;  padding-bottom: 90px;}
.py-md-100 { padding-top: 100px; padding-bottom: 100px;}
}

@include media-breakpoint-up(lg){
.py-lg-0   { padding-top: 0px;   padding-bottom: 0px;}
.py-lg-10  { padding-top: 10px;  padding-bottom: 10px;}
.py-lg-20  { padding-top: 20px;  padding-bottom: 20px;}
.py-lg-30  { padding-top: 30px;  padding-bottom: 30px;}
.py-lg-40  { padding-top: 40px;  padding-bottom: 40px;}
.py-lg-50  { padding-top: 50px;  padding-bottom: 50px;}
.py-lg-60  { padding-top: 60px;  padding-bottom: 60px;}
.py-lg-70  { padding-top: 70px;  padding-bottom: 70px;}
.py-lg-80  { padding-top: 80px;  padding-bottom: 80px;}
.py-lg-90  { padding-top: 90px;  padding-bottom: 90px;}
.py-lg-100 { padding-top: 100px; padding-bottom: 100px;}
}
